<!--The content below is only a placeholder and can be replaced.-->
 
<div style="text-align:center">
  <h1>
    Task Manager {{ title }}!
  </h1> 
  <table style="margin-left:5%;width:25%">
    <td style="padding:5%">
    <a routerLink = "/add"> Add Task</a>
    </td>
    <td style="padding:5%">
    <a routerLink = "/view"> View Task</a>
    </td>
  </table>
  <!-- </div> -->
  <router-outlet>

  </router-outlet>

