
<table *ngIf='taskDetails' style="border:1px solid grey;padding:10px; width:50%;margin-left:5%;">
  <tr>
      <td align='left' style="padding-left:5%">
          <label>Task</label>
      </td>
      <td align='left' style="padding-left:5%">
          <input type = "text" [(ngModel)] = "taskDetails.TaskName"
      id = "myText" style="width:90%"/>
      </td>
  </tr> 
  
  <tr>
      <td align='left' style="padding-left:5%">
              <label>Range</label>
              
      </td>
      <td align='left' style="padding-left:5%">
          <table style="width:100%;">
              <tr>
                  <td style="width:90%;">
                      <input type = "Range"
                      id = "RangeBar" [(ngModel)] = "taskDetails.Priority" onchange='document.getElementById("range_value").innerText =  document.getElementById("RangeBar").value;' style="width:90%" min='0' max="10" value="0"/>
                  </td>
              <td style="width:10%;">
                      <label id=
                      'range_value'></label>
              </td>
          </tr>
          </table>
              
              
      </td>
  </tr>
   
    
 <tr>
     <td align='left' style="padding-left:5%">
          <label>Parent Task</label>
     </td>
     <td align='left' style="padding-left:5%">
          <input type = "text" [(ngModel)] = "taskDetails.ParentTask"
           id = "myTextParentTask" style="width:90%"/>
     </td>
  </tr>   
      
      
  <tr>
      <td align='left' style="padding-left:5%">
              <label>Start Date</label>
      </td>
      <td align='left' style="padding-left:5%">
              <input type = "date"
              [(ngModel)] = "taskDetails.StartDate"
              id = "startDate" style="width:90%"/>
      </td>
  </tr>
      
  <tr>
      <td align='left' style="padding-left:5%">
              <label>End Date</label>
      </td>
      <td align='left' style="padding-left:5%">
              <input type = "date"
              [(ngModel)] = "taskDetails.EndDate"
              id = "endDate" style="width:90%"/>
      </td>
  </tr>    
  <tr>
      
          <td><button (click)='update()'>Update</button></td>
          <td><button (click)='reset()'>RESET</button></td>
      
  </tr>

</table>


