<table style="border:2px solid grey;background-color: grey;padding:10px; width:85%;margin-left:5%;">
  <tr>
  <td align='left' style="padding-left:5%">
        <label>Task</label>
  </td>
  <td align='left' style="padding-left:5%"> 
        <input type = "text"
             id = "myText"
             style="width:90%"
             [(ngModel)]="taskName"/>
  </td>
  <td align='left' style="padding-left:5%">
           <label>Parent Task</label>
  </td>
  <td align='left' style="padding-left:5%">
        <input type = "text"
             id = "myTextParentTask"
             style="width:90%" 
             [(ngModel)]="parentTask" />
  </td>
</tr>  
    
<tr>
  <td align='left' style="padding-left:5%">     
  <label>Priority From</label>
  </td> 
  <td align='left' style="padding-left:5%">
  <input type = "number"
             id = "priorityFrom"
             style="width:90%"
             [(ngModel)]="priorityFrom"/>
  </td>
  <td align='left' style="padding-left:5%">
           <label>Priority To</label>
  </td>
  <td align='left' style="padding-left:5%">
        <input type = "number"
             id = "PriorityTo"
             style="width:90%"
             [(ngModel)]="priorityTo"/>
   </td>
   </tr>
   <tr>
   <td align='left' style="padding-left:5%">
        <label>Start Date</label>
      </td>
      <td align='left' style="padding-left:5%">
        <input type = "date"
             id = "startDate"
             style="width:90%"
             [(ngModel)]="startDate"/>
     </td>
     <td align='left' style="padding-left:5%">
        <label>End Date</label>
      </td>
      <td align='left' style="padding-left:5%">
        <input type = "date"
             id = "endDate"
             style="width:90%"
             [(ngModel)]="endDate"/>
            </td>
 </tr>
  </table>
  <table  style="border:2px solid grey;border-collapse: collapse; padding:10px;;width:85%;margin-left:5%;">
    <tr >
        <th style="border : 1px solid #ddd;" *ngFor="let col of columns" >
          {{col}}
        </th>
        <th style="border : 1px solid #ddd;"></th>
        <th style="border : 1px solid #ddd;"></th>
        <th style="border : 1px solid #ddd;"></th>
      </tr>
      <tr *ngFor="let task of TaskDetails | TaskFilter : taskName :parentTask :priorityFrom :priorityTo :startDate :endDate " >
        <td  style="border : 1px solid #ddd;border-collapse: collapse;" *ngFor="let col of columns">
          {{task[col]}}
        </td>
        <td style="border : 1px solid #ddd;border-collapse: collapse;"><button [disabled] = 'task.Flag === 1' (click)='editPage(task)'>EDIT</button></td>
        <td style="border : 1px solid #ddd;border-collapse: collapse;"><button [disabled] = 'task.Flag === 1' (click)='endTask(task)'>END TASK</button></td>
        <td style="border : 1px solid #ddd;border-collapse: collapse;"><button [disabled] = 'task.Flag === 1' (click)='deleteTask(task)'>DELETE</button></td>
      </tr>
  </table>